name: game_crafter

services:
  backoffice-app:
    build: .
    container_name: backoffice-app
    ports:
      - "8094:8094"
    command: ["./docker-entrypoint.sh"]
    environment:
      DB_URL: "postgres://game_crafter_user:5kj0YmV5FKKpU9D50B7yH5A@db:5432/game_crafter?sslmode=disable"
      POSTGRES_PASSWORD: "5kj0YmV5FKKpU9D50B7yH5A"
      APP_HOST: "0.0.0.0"
      APP_PORT: "8094"
      JWT_SECRET: "tokensecrethere"
      DB_CONNECT_RETRIES: "10"
      DB_CONNECT_TIMEOUT: "5s"
      CONFIG_NAME: "config"
    volumes:
      - ./internal/constant/query/schemas:/app/internal/constant/query/schemas
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8094/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  db:
    image: postgres:16
    container_name: game_crafter-db
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: "game_crafter_user"
      POSTGRES_PASSWORD: "5kj0YmV5FKKpU9D50B7yH5A"
      POSTGRES_DB: "game_crafter"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U game_crafter_user -d game_crafter"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
